In [156]:
import numpy as np
import pandas as pd
from datetime import *

In [157]:
scores_data = pd.read_csv('data/NCAAAllScores2013.csv')
scores_data['Start'] = pd.to_datetime(scores_data['Start'])
scores_data['Date'] = scores_data['Start'].dt.date
scores_data.drop(scores_data.loc[scores_data['Date'] > date(2014, 1, 7)].index, axis=0, inplace=True)

sched_data = pd.read_csv('data/schedule2013.csv')
sched_data.rename({'Wk':'Week'}, axis=1, inplace=True)
sched_data['Date'] = pd.to_datetime(sched_data['Date']).dt.date

In [160]:
def fix_dates(d, wrong=wrong_dates):
    if d in wrong_dates:
        return d - timedelta(days=1)
    else:
        return d

In [158]:
wrong_dates = np.setdiff1d(scores_data['Date'].drop_duplicates().tolist(),sched_data['Date'].drop_duplicates().tolist())
scores_data['Date'] = scores_data['Date'].apply(lambda x: fix_dates(x))

In [161]:
scores = scores_data[['Date','Away','Home','HomeFinal','VisFinal']]
sched = sched_data[['Week','Date']].drop_duplicates()

    Week        Date
0      1  2013-08-29
17     1  2013-08-30
25     1  2013-08-31
72     1  2013-09-01
74     1  2013-09-02

In [165]:
scores_clean = pd.merge(scores, sched[['Date','Week']], on='Date',how='left')
scores_clean

            Date   Away  Home  HomeFinal  VisFinal  Week
0     2013-08-29    LIB  KENT         17        10     1
1     2013-08-29    UNC    SC         27        10     1
2     2013-08-29    PRE  WAKE         31         7     1
3     2013-08-29   TLSA  BGSU         34         7     1
4     2013-08-29    AKR   UCF         38         7     1
5     2013-08-29   NWST  MOST         17        23     1
6     2013-08-29   INST   IND         73        35     1
7     2013-08-29   HAMP   WIU         42         9     1
8     2013-08-29    RMU   EKY         38         6     1
9     2013-08-29   UNLV  MINN         51        23     1
10    2013-08-29   ILST  BALL         51        28     1
11    2013-08-29    URI   FOR         51        26     1
12    2013-08-29    PIK  MORE         10        13     1
13    2013-08-29    SUU   USA         21        22     1
14    2013-08-29    UTM  CHAT         21        31     1
15    2013-08-29    WCU  MTSU         45        24     1
16    2013-08-29   TOWS  CONN         18        33     1
17    2013-08-29    JAC   DEL         51        35     1
18    2013-08-29    DAY   YSU         28        10     1
19    2013-08-30    CUM  TNTC         63         7     1
20    2013-08-30   JKST  TULN         34         7     1
21    2013-08-30     IW   UCA         58         7     1
22    2013-08-30    USU  UTAH         30        26     1
23    2013-08-30   SEMO  SELA         45         7     1
24    2013-08-30     GV  DRKE         16        21     1
25    2013-08-30   VALP   UND         69        10     1
26    2013-08-30   MONM  MTST         42        24     1
27    2013-08-30   MISS   VAN         35        39     1
28    2013-08-30    SAC  SJSU         24         0     1
29    2013-08-30    EAS  PRST         57        17     1
...          ...    ...   ...        ...       ...   ...
3728  2013-12-26   PITT  BGSU         27        30    18
3729  2013-12-27    USU   NIU         14        21    18
3730  2013-12-27   MRSH    MD         20        31    18
3731  2013-12-27    SYR  MINN         17        21    18
3732  2013-12-28    BYU  WASH         31        16    18
3733  2013-12-28   RUTG    ND         29        16    18
3734  2013-12-28    CIN   UNC         39        17    18
3735  2013-12-28  MIAMI   LOU         36         9    18
3736  2013-12-28   MICH   KSU         31        14    18
3737  2013-12-30   MTSU  NAVY         24         6    19
3738  2013-12-30   MISS    GT         17        25    19
3739  2013-12-30    ORE   TEX          7        30    19
3740  2013-12-31    ASU   TTU         37        23    20
3741  2013-12-31   ARIZ    BC         19        42    20
3742  2013-12-31     VT  UCLA         42        12    20
3743  2013-12-31   RICE  MSST         44         7    20
3744  2014-01-01   DUKE  TA&M         52        48    20
3745  2014-01-01   UNLV   UNT         36        14    20
3746  2014-01-01    NEB   UGA         19        24    20
3747  2014-01-01    WIS    SC         34        24    20
3748  2014-01-01   IOWA   LSU         21        14    20
3749  2014-01-01   STAN   MSU         24        20    20
3750  2014-01-02    UCF   BAY         42        52    20
3751  2014-01-03   OKLA   ALA         31        45    20
3752  2014-01-04   OKST   MIZ         41        31    20
3753  2014-01-04   CLEM   OSU         35        40    20
3754  2014-01-04    VAN   HOU         24        41    20
3755  2014-01-04   TOWS  NDSU         35         7    20
3756  2014-01-06   ARST  BALL         20        23    20
3757  2014-01-06    FSU   AUB         31        34    20

[3758 rows x 6 columns]